<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/post-admin-style.css">
</head>
<body>
    <div class="blog">
        <div class="blog-header">
            <h1>Personal Blog</h1>
            <a href="/article/new">+ Add</a>
        </div>

        <% if(articles.length > 0)  { %>
        <div class="posts">
            <% articles.forEach(article => { %>
                <div class="post">
                    <div class="post-info">
                        <p><%= article.title %></p>
                    </div>
                    <div class="post-actions">
                        <a href="/article/<%= article.id %>">View</a>
                        <a href="/article/edit/<%= article.id %>">Edit</a>
                        <a href="/article/delete/<%= article.id %>">Delete</a>
                    </div>
                </div>
            <% }) %>
        </div>
        <% } %>
    </div>
</body>
</html>