#title, #content {
    text-indent: 8px;
    width: 260px;
    height: 30px;
    margin-bottom: 4px;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
}

#date {
    text-indent: 2px;
    width: 260px;
    height: 30px;
    margin-bottom: 4px;
    border: 2px solid black;
    border-radius: 4px;
    color: black;
}

#title-error {
    display: none;
}

#date-error {
    display: none;
}

#content-error {
    display: none;
}

button {
    width: 80px;
    height: 34px;
    background-color: white;
    border: 2px solid black;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
    background-color: #ccc;
}