<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article</title>
</head>
<link rel="stylesheet" href="/css/post-style.css">
<body>
    <h2><%= article.title %></h2>
    <p id="date"><%= article.date %></p>
    <p id="content"><%= article.content %></p>
</body>
</html>