<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/form-style.css" />
  </head>
  <body>
    <h2>New Article</h2>
    <form action="/article/add" method="post" target="_self">
      <div class="form-input">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="Article Title"
        />
      </div>
      <div class="form-input">
        <input type="date" id="date" name="date" placeholder="Article Date" />
      </div>
      <div class="form-input">
        <textarea name="content" id="content" placeholder="Content"></textarea>
      </div>
      <button type="submit">Publish</button>
    </form>
  </body>
</html>
