<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>New Article</h2>
    <form action="/article/add" method="post" target="_self">
        <input type="text" id="title" name="title" placeholder="Article Title">
        <br>
        <input type="date" id="date" name="date" placeholder="Article Date">
        <br>
        <textarea name="content" id="content" placeholder="Content"></textarea>
        <br>
        <button type="submit">Publish</button>
    </form>
    <a href="/">New Post</a>
</body>
</html>